body{
	background: #f7f8f8;
	overflow-x: hidden;
	overflow-y:auto;
}
.out_top{width: 100%;height: 30px;background: #f7f9f8;}
	.out_top .center{width: 1200px;height: 30px;background: #f7f9f8;margin: 0 auto;
		position: relative;}
	.out_top .center .right #erweima{width: 146px;height: 337px;text-align: center;display: none;
		border: 1px solid #ccc;border-top:none;background: #fff;position: absolute;top:30px;right: 131px;
		z-index: 200;}
	.out_top .center .right #erweima article{line-height: 28px;}
	.out_top .center .right #erweima .one{margin-top: 10px;}
	.out_top .center .right #dingdan{width: 126px;height: 187px;border: 1px solid #ccc;border-top:none;
		position: absolute;background: #fff;top:30px;right: 254px;display: none;z-index: 200;}
	.out_top .center .right #dingdan a{display: block;text-align: left;font-size: 12px;line-height: 26px;
		color: #727272;margin-left: 12px;}	
	.out_top .center .right #dingdan a:hover{color: #008842;}
	.out_top .center .right #dingdan b{font-weight: bold;border-radius:16px;padding: 0 5px;margin-left: 10px;
		background: #008842;color: #fff;}
	
	.out_top .center .left{float: left;}
	.out_top .center .left span:nth-child(1){color: #444444;line-height: 30px;font-size: 13px;float: left;}
	.out_top .center .left span:nth-child(2){line-height: 30px;font-size: 13px;color: #008842;float: left;}
	.out_top .center .left span:nth-child(3){line-height: 30px;font-size: 13px;color: #008842;float: left;}
	.out_top .center .left span:nth-child(3) p{width:0;height:0;border: 4px solid #f7f9f8;
		float: right;margin-top: 14px;margin-left: 5px;border-top: 4px solid #008842;}
	.out_top .center .left span:nth-child(3):hover{background: #008842;cursor: pointer;color: #fff;
		}
	.out_top .center .left span:nth-child(3):hover p{border: 4px solid #008842;border-bottom: 4px solid #f7f9f8;margin-top: 8px;}

	.out_top .center .right{float: right;}
	.out_top .center .right .login{margin-right: 15px;}
	.out_top .center .right div{float: left;line-height: 30px;color: #444;text-align: center;}
	.out_top .center .right div p{width: 0;height: 0;border: 4px solid #f7f9f8;
		float: left;margin-top: 14px;border-top: 4px solid #008842;margin-right: 6px;}
	.out_top .center .right div img{float: left;margin-top: 7px;margin-left: 15px;}
	.out_top .center .right div span{margin-right: 2px;margin-left: 5px;float: left;}
	.out_top .center .right div:hover{color: #008842;cursor: pointer;}
	.out_top .center .right .yiguo:hover{border-left: 1px solid #ccc;border-right: 1px solid #ccc;background: #fff;}
	.out_top .center .right .yiguo:hover p{margin-right: 5px;border: 4px solid #fff;border-bottom: 4px solid #008842;margin-top: 8px;}
	.out_top .center .right .yiguo:hover img{margin-left: 14px;}
	.out_top .center .right .yiguo2:hover #erweima{display: block;}
	.out_top .center .right .yiguo1:hover #dingdan{display: block;}

	.out_top2{width: 100%;height: 78px;background: #e0e0e0;}
	.out_top2 .top2_center{width: 1200px;height: 78px;background: #e0e0e0;margin: 0 auto;}
	.out_top2 .top2_center .logo{float: left;width: 146px;height: 78px;}
	.out_top2 .top2_center .logo a{display:block;width: 146px;height: 78px;background: url(../img/images/logo_03.png) no-repeat;}
	.out_top2 .top2_center .search{width: 533px;height: 78px;float: left;margin-left: 145px;}
	.out_top2 .top2_center .search input{outline: none;margin-top: 15px;}
	.out_top2 .top2_center .search .text{width: 445px;height: 28px;border: 1px solid #008842;padding-left: 10px;
		background: #e0e0e0;float: left;}
	.out_top2 .top2_center .search .btn{width: 82px;height: 28px;background: #008842;border: 1px solid #008842;
	 cursor: pointer;color: #fff;font-size: 14px;line-height: 28px;}
	.out_top2 .top2_center .s_nav{margin-top: 10px;}
	.out_top2 .top2_center .s_nav span{cursor: pointer;margin-left: 10px;}
	.out_top2 .top2_center .s_nav span:nth-child(1),.out_top2 .top2_center .s_nav span:nth-child(2),
	.out_top2 .top2_center .s_nav span:nth-child(4),.out_top2 .top2_center .s_nav span:nth-child(7),
	.out_top2 .top2_center .s_nav span:nth-child(9) {color: #008842;}

	.out_top2 .top2_center .gouwuche{font-size: 22px;text-align: center;color: #008842;line-height: 40px;
		width: 172px;height: 40px;background: #fff;float: right;border: 1px solid #008842;margin-top: 15px;
		font-weight: bold;}
	.out_top2 .top2_center .gouwuche i{float: left;margin-left: 50px;}
	.out_top2 .top2_center .gouwuche .iconfont{font-size: 25px;}
	.out_top2 .top2_center .gouwuche div{float: left;margin-left: 10px;}
	.out_top2 .top2_center .gouwuche .name{font-weight: normal;}
	.out_top2 .top2_center .gouwuche:hover{cursor: pointer;}


	
	/*被隐藏的logo*/
	.logo_t{width: 100%;height: 46px;position:fixed;z-index: 300;top: 0;
		background: url(../img/images/header_fixed_bg.png) repeat;display: none;}
	.logo_t .t_wrap{width: 1200px;height: 36px;margin: 0 auto;padding:5px 0;}
	.logo_t .t_wrap .logo2{float:left;width:280px;}
	.logo_t .t_wrap .logo2 a{height:36px;width: 110px;display:block;}
	.logo_t .t_wrap .logo2 a img{width: 110px;height: 36px;}
	.logo_t .search2 input{outline: none;}
	.logo_t .search2{width:770px;margin-top:3px;float:left;}
	.logo_t .search2 .text{width: 445px;height: 28px;border: 1px solid #008842;padding-left: 10px;
		background: #e0e0e0;float: left;}
	.logo_t .search2 .btn{width: 82px;height: 28px;background: #008842;border: 1px solid #008842;
	 cursor: pointer;color: #fff;font-size: 14px;line-height: 28px;float: left;}
	.logo_t .r_n{height:30px;overflow:hidden;float:left;width:230px;
		margin-left:10px;line-height: 30px;}
	.logo_t .r_n span{margin-right: 5px;}
	.logo_t .r_n span:nth-child(1),.logo_t .r_n span:nth-child(2),
	.logo_t .r_n span:nth-child(4){color: #008842;}
	.shopping-cart{width: 140px;padding:2px 0;font-size:20px;height:28px;
		line-height:28px;text-align:center;border:1px solid #008842;background:#fff;
		cursor:pointer;float: left;position: relative;float:right;}
	.shopping-cart a{display:block;color:#008842;}
	.shopping-cart .totleNum{display:inline-block;vertical-align:middle;
		width:28px;height:20px;margin-right:10px;font-size:12px;
		background:url(../img/images/header-img.png) no-repeat -112px 0}
	.shopping-cart .totleNum b{display:block;width:24px;line-height:12px;
		margin-right:4px;text-align:center;}
	.shopping-btn .totlePrice{font-weight:normal;}
	.shopping-list{display:none;z-index:300;position:absolute;
		top:32px;right:-1px;width:320px;padding:10px;background:#fff;
		border:1px solid #007f4d;opacity: 0;}
	.shopping-list .nogoods{width:320px;height:120px;line-height:116px;
		text-align:center;background:url(../img/images/none-bg-w190.jpg) no-repeat center #fff}
	.out_top2 .shopping-cart{margin-top: 20px;}
	
	
	
	.out_banner{width: 100%;height: 500px;background: #efefef;}
	.out_banner .ban_center{margin: 0 auto;background: #efefef;
		width: 1200px;height: 500px;position: relative;}
	.out_banner .ban_center .gu{position: absolute;}
	.out_banner .ban_center .gu .shang{z-index: 100;position: absolute;}
	#main{position: absolute;width: 1920px;height: 500px;left: 50%;
		margin-left: -960px;top: 50%;margin-top: -250px;overflow: hidden;}
	#main img{width: 2320px;height: 600px;position: absolute;top: -50px;left: -200px;;}
	.out_banner #pic{position: absolute;bottom: 10px;left: 475px;z-index: 100;}
	.out_banner #pic span{margin-left: 10px;}
	.out_banner #pic span:hover{cursor: pointer;}
	.out_banner .ban_center #arrow{width: 40px;height: 100px;background: #572a2c;
		position: absolute;opacity: 0.3;z-index: 100;color: #fff;font-size: 45px;text-align: center;
		line-height: 100px;right: -40px;top: 50%;margin-top: -50px;display: none;}
	.out_banner .ban_center #arrow1{width: 40px;height: 100px;background: #572a2c;
		position: absolute;opacity: 0.3;z-index: 100;color: #fff;font-size: 45px;text-align: center;
		line-height: 100px;left: -40px;top: 50%;margin-top: -50px;display: none;}
	.out_banner .ban_center #arrow:hover{opacity: 0.7;cursor: pointer;}
	.out_banner .ban_center #arrow1:hover{opacity: 0.7;cursor: pointer;}
	.out_banner .ban_center:hover #arrow{display: block;}
	.out_banner .ban_center:hover #arrow1{display: block;}
	/*nav导航部分*/
	.out_banner .ban_center .wrap{width: 180px;height: 500px;position: absolute;z-index: 200;font-family: "microsoft yahei";}
	.out_banner .ban_center .wrap .nav{background: #008842;width: 180px;height: 40px;color: #fff;
		text-align: center;line-height: 40px;font-size: 14px;font-weight: bold;cursor: pointer;}
	.out_banner .ban_center .wrap .menu{width: 180px;height: 460px;background: rgba(255,255,255,0.8);}
	.out_banner .ban_center .wrap .menu a{display: block;width: 180px;height: 41.8px;
		line-height: 41.8px;font-size: 14px;color: #444;}
	.out_banner .ban_center .wrap .menu a i{width: 22px;height: 22px;display: block;
		float: left;margin-left: 19px;margin-top: 10px;overflow: hidden;margin-right: 13px;}
	.out_banner .ban_center .wrap .menu span{display: none;float: right;margin-right: 30px;}
	.out_banner .ban_center .wrap .list{width: 215px;height: 498px;border: 1px solid #bbb;position: absolute;
		top: 0px;left: 180px;background: #fff;z-index: -1;display: block;background: rgba(255,255,255,0.8);}
	
	
	
	.main_one{width: 1200px;height: auto;background: #f7f8f8;margin: 30px auto 10px;height: 290px;}
	.main_one a{display: block;border: none;float: left;margin-right: 13px;margin-right: 13px;height: 290px;}
	.main_one a:nth-child(4){margin-right: 0;}
	.main_one a:hover{box-shadow: 0 0 8px #000;}

	#main_one{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_one h2{color: #fd603c;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_one h2 a{color: #fd603c;}
	#main_one b{color: #fff;background: url(../img/images/floor_tit_icon.png) no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_one span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_one span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}
	#main_one span a:hover{text-decoration: underline;}

	.main_three{width: 1200px;height: 462px;background: #fff;margin:0 auto;}
	.main_three .left{float: left;width: 275px;height: 465px;}
	.main_three .right{width: 925px;height: 465px;float: left;}
	.main_three .right a:nth-child(1){width: 230px;height: 230px;}
	.main_three .right a:nth-child(2){width: 230px;height: 230px;}
	.main_three .right a:nth-child(3){width: 459px;height: 230px;border-right: 1px solid #ccc;}
	.main_three .right a:nth-child(4){width: 461px;height: 230px;border-bottom: 1px  solid #ccc;}
	.main_three .right a:nth-child(5){width: 229px;height: 230px;border-bottom: 1px  solid #ccc;}
	.main_three .right a:nth-child(6){width: 229px;height: 230px;border-right: 1px solid #ccc;border-bottom: 1px  solid #ccc;}
	.main_three .right a{display: block;overflow: hidden;border-left: 1px solid #ccc;float: left;
		border-top: 1px solid #ccc;}
	.main_three .right a img{display: block;}


	#main_two{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_two h2{color: #007f4d;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_two h2 a{color: #007f4d;}
	#main_two span a:hover{text-decoration: underline;}
	#main_two b{color: #fff;background: url(../img/images/floor_tit_icon.png) -45px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_two span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_two span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}


	#main_three{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_three h2{color: #c5cc46;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_three h2 a{color: #c5cc46;}
	#main_three span a:hover{text-decoration: underline;}
	#main_three b{color: #fff;background: url(../img/images/floor_tit_icon.png) -275px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_three span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_three span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}

	#main_four{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_four h2{color: #45c6ce;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_four h2 a{color: #45c6ce;}
	#main_four span a:hover{text-decoration: underline;}
	#main_four b{color: #fff;background: url(../img/images/floor_tit_icon.png) -184px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_four span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_four span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}

	#main_five{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_five h2{color: #ffcc00;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_five h2 a{color: #ffcc00;}
	#main_five span a:hover{text-decoration: underline;}
	#main_five b{color: #fff;background: url(../img/images/floor_tit_icon.png) -92px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_five span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_five span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}


	.main_five{width: 1200px;height: 462px;background: #fff;margin:0 auto;}
	.main_five .center .top img{}
	.main_five .center .bottom{border: 1px solid #ccc;border-right: none;}
	.main_five .right img{}
	.main_five img{display: block;}
	.main_five .left{float: left;width: 275px;height: 462px;}
	.main_five .center{float: left;}
	.main_five .center .top{height: 384px;width: 674px;}
	.main_five .center .top div:nth-child(1){width: 234px;height: 383px;}
	.main_five .center .top div:nth-child(1) a{}
	.main_five .center .top div:nth-child(2) div a{width: 220px;height: 191px;display: block;}
	.main_five .center .top div:nth-child(2) div{width: 220px;}
	.main_five .center .top a{border-top: 1px solid #ccc;border-left: 1px solid #ccc;overflow: hidden;background: #fff;}
	.main_five .right{border: 1px solid #ccc;}
	.main_five .center .top div{float: left;}
	.main_five .center .top div a:nth-child(1){float: left;}
	.main_five .center .top div a:nth-child(3){float: left;}
	.main_five .center .bottom{width: 674px;height: 77px;}
	.main_five .center .bottom div{width: 80px;height: 52px;
		margin-top: 13px;margin-left: 26px;float: left;}
	.main_five .center .bottom a{overflow: hidden;
		}
	.main_five .right{float: left;width: 246px;height: 461px;overflow: hidden;}
	


	#main_six{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_six h2{color: #e08683;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_six h2 a{color: #e08683;}
	#main_six span a:hover{text-decoration: underline;}
	#main_six b{color: #fff;background: url(../img/images/floor_tit_icon.png) -139px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_six span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_six span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}
	
	#main_seven{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_seven h2{color: #b84f00;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_seven h2 a{color: #b84f00;}
	#main_seven span a:hover{text-decoration: underline;}
	#main_seven b{color: #fff;background: url(../img/images/floor_tit_icon.png) -367px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_seven span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_seven span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}


	.main_seven{width: 1200px;height: 462px;background: #fff;margin:0 auto;}
	.main_seven .center .top img{}
	.main_seven .center .bottom{border: 1px solid #ccc;border-right: none;}
	.main_seven .right img{}
	.main_seven img{display: block;}
	.main_seven .left{float: left;width: 275px;height: 462px;}
	.main_seven .center{float: left;}
	.main_seven .center .top{height: 384px;width: 674px;}
	.main_seven .center .top div a{border-left: 1px solid #ccc;border-top: 1px solid #ccc;}
	.main_seven .center .top div:nth-child(1){width: 234px;height: 383px;}
	.main_seven .center .top div:nth-child(2){width: 440px;height: 191px;}
	.main_seven .center .top div:nth-child(3){width: 440px;height: 191px;}
	.main_seven .center .top div{float: left;}
	.main_seven .center .top div a:nth-child(1){float: left;}
	.main_seven .center .top div a:nth-child(3){float: left;}
	.main_seven .center .bottom{width: 674px;height: 77px;}
	.main_seven .center .bottom div{width: 80px;height: 52px;float: left;overflow: hidden;
		margin-top: 13px;margin-left: 26px;}
	.main_seven .right{float: left;width: 246px;height: 461px;overflow: hidden;
		border: 1px solid #ccc;}
	
	
	#main_eight{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_eight h2{color: #764e00;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_eight h2 a{color: #764e00;}
	#main_eight span a:hover{text-decoration: underline;}
	#main_eight b{color: #fff;background: url(../img/images/floor_tit_icon.png) -230px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_eight span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_eight span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}

	
	#main_nine{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_nine h2{color: #940505;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_nine h2 a{color: #940505;}
	#main_nine span a:hover{text-decoration: underline;}
	#main_nine b{color: #fff;background: url(../img/images/floor_tit_icon.png) -414px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_nine span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_nine span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}


	#main_ten{height: 33px;width: 1200px;margin: 20px auto 5px;}
	#main_ten h2{color: #3ca3dc;line-height: 33px;font-family: "Microsoft YaHei";}
	#main_ten h2 a{color: #3ca3dc;}
	#main_ten span a:hover{text-decoration: underline;}
	#main_ten b{color: #fff;background: url(../img/images/floor_tit_icon.png) -322px no-repeat;
		width:38px;height: 28px;display: block;float: left;line-height: 33px;padding-left: 7px;
		padding-top: 5px;margin-right: 10px;font-size: 13px;}
	#main_ten span{float: right;color: #444;font-weight: 100;font-size: 12px;}
	#main_ten span a{color: #444;font-size: 12px;font-weight: 100;margin-left: 8px;margin-right: 8px;}

	

	.floor-guide{width: 35px;height: 359px;text-align:center;position:fixed;
		top:200px;margin-left: -645px;left: 50%;display:none;overflow: hidden;}
	.floor-guide a{display:block;width: 35px;height: 35px;overflow: hidden;
		cursor: pointer;}
	.floor-guide a p{text-align: center;margin-top: 1px;display:none;}
	.floor-guide a i{display: block;width: 20px;height: 20px;margin-top: 5px;margin-left: 5px;}
	.floor-guide a b{display: block;width: 10px;border-top:1px solid #d7d7d7;margin-top: 9px;margin-left: 10px;}


	.sidebar{width: 56px;height: 105px;position: fixed;right: 7px;bottom: 20px;
		z-index: 100;}
	.sidebar .service{background: url(../img/images/sidebar.png) no-repeat left bottom;
		width: 50px;height: 42px;display: block;margin-bottom: 10px;}
	.sidebar .goTop{background: url(../img/images/sidebar.png) no-repeat left top;
		width: 50px;height: 42px;display: none;cursor: pointer;}
	
	
	.footer_service{width: 100%;height: 42px;background: #e0e0e0;
		margin-top: 50px;padding: 30px 0;}
	.footer_service .center_service{width: 1200px;height: 42px;margin: 0 auto;}
	.footer_service .center_service div{float: left;margin-right: 50px;margin-left: 50px;
		line-height: 42px;color: #444;}
	.center_service div img{float: left;margin-right: 14px;}
	.center_service div b{height: 44px;width: auto;display: block;float: right;
		margin-left: 14px;line-height: 20px;font-weight: 100;font-family: "microsoft yahei";}
	
	
	
	.footer{width: 100%;height: 342px;padding-bottom:20px;}
	.footer .wrap{width: 1200px;height: 342px;margin: 50px auto 0;}
	.footer .wrap dl{width: 190px;height:150px;float:left;margin-left:50px;display:inline;font-size:12px;
		color: #444;font-family: "microsoft yahei";}
	.footer .wrap dl dt{height:23px;line-height:23px;background:url(../img/images/footer_icon.png) no-repeat;
		font-size:14px;text-indent:40px;}
	.footer .wrap dl:nth-child(2) dt{background-position: 0 -23px;}
	.footer .wrap dl:nth-child(3) dt{background-position: 0 -46px;}
	.footer .wrap dl:nth-child(4) dt{background-position: 0 -69px;}
	.footer .wrap dl:nth-child(5) dt{background-position: 0 -92px;}
	.footer .wrap dl dd{border-left:1px dashed #A8A8A8;padding-left:20px;height:110px;
		min-height:110px;margin:15px 0 0 13px;line-height:22px;}
	.footer .wrap dl p:hover{color: #369771;text-decoration: underline;
		cursor: pointer;}
	
	.footer .wrap .phone{clear:both;text-align:center;padding:60px 0 20px;
		color:#008842;font-size:14px;}
	.footer .wrap .phone span{padding:0 10px;}
	.footer .wrap .copyright{clear: both;color:#717171;text-align:center;line-height:22px;}
	.footer .wrap .copyright p img{width: 47px;height: 47px;margin-right: 25px;}
	.footer .wrap .copyright p img:nth-child(3){width: 20px;height: 20px;}
	
	
